form {
	background-color: #DDD;
	border: 1px solid #DDD;
	border-radius: 5px;
	margin: 10px;
}

.well {
	margin: 10px 0;
	width: auto;
	height: auto;
}

img {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	margin: 5px 0;
}

.form-group {
	margin: 15px 0;
	padding: 0 20px;
}

input.ng-touched.ng-invalid {
	border: 1px solid red;
}

.ngtouched.ng-valid {
	border: 1px solid green;
}